@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #000000;
}

.discussion {
  width: 60%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #080808;
  color: #fff;
  padding: 1.5em;
  border-radius: 10px;
  border: 1px solid #2f3336;
  font-size: 16px;
}

.discussion-headers {
  display: flex;
  margin: -1em -1em;
}

.identity {
  margin-left: auto;
  font-size: 0.875rem;
  color: lightgray;
  font-weight: 600;
  /* padding: 8px; */
}

.identity i {
  margin-right: 3px;
}

.more-options {
  margin-left: auto;
  font-size: 0.875rem;
  color: lightgray;
  font-weight: 400;
}

.more-options i {
  padding: 8px;
  border-radius: 100%;
}

.more-options:hover > i {
  color: #1c9cef;
  background-color: #0c1720;
  cursor: pointer;
}

.content {
  line-height: 20px;
  font-size: 0.95rem;
}

.discussion-options {
  display: flex;
  flex-wrap: wrap;
  margin: -0.2em 0em -0.6em 0;
}

.discussion-options div {
  margin-right: 5px;
  font-size: 0.875rem;
}

.discussion-options i,
.discussion-options span {
  font-size: 0.875rem;
  color: lightgray;
}

.discussion-options i {
  vertical-align: middle;
  display: inline-block;
  margin-right: 3px;
  padding: 8px;
  border-radius: 100%;
  transition-property: color, background-color;
  transition-delay: 100ms;
  background-color: transparent;
}

.discussion-options span {
  transition-property: color;
  transition-delay: 100ms;
  background-color: transparent;
  font-weight: 400;
}

.popularity:hover {
  cursor: pointer;
}

.comments:hover {
  cursor: pointer;
}

.popularity:hover > i {
  color: #fa187f;
  background-color: #210c14;
  cursor: pointer;
}

.popularity:hover > span {
  color: #fa187f;
}

.report:hover {
  cursor: pointer;
}

.report:hover > i {
  color: #02b97c;
  background-color: #0c1b14;
}

.report:hover > span {
  color: #02b97c;
}

.comments:hover > i {
  color: #1c9cef;
  background-color: #0c1720;
}

.comments:hover > span {
  color: #1c9cef;
}

.discussion-options span {
  vertical-align: middle;
  display: inline-block;
  margin-right: 15px;
}
